.typeImage {
color: rgb(242, 63, 63);
font-size: 40px;

}
.carousel-inner{
    border: 12px,crimson;

}
p{
    color: rgb(242, 63, 63);
    font-size: 20px;
}
div.carousel-indicators{
    display: none;
}
button.carousel-control-prev{
margin: 14px;
}